<%= content_tag_for(:div, note) do %>
  <h3><%= link_to note.title, note_path(note) %></h3>
  <div class="text">
    <pre><%= auto_link(h(note.text)) %></pre>
  </div>
  <div class="links">
    <%= link_to "Edit", edit_note_path(note), class: 'btn btn-success' %>
    <%= link_to 'Delete', note_path(note), method: 'delete', class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>
